[Unit]
Description=Marathon
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill marathon
ExecStartPre=-/usr/bin/docker rm marathon
ExecStart=/usr/bin/docker run --name marathon --net host mesosphere/marathon --master zk://${MESOS_ZK}/mesos --zk zk://${MESOS_ZK}/marathon --hostname ${MESOS_HOSTNAME} --event_subscriber http_callback --zk_max_versions 5 --webui_url http://${MESOS_IPV4}:8080 --max_tasks_per_offer 6
ExecStop=/usr/bin/docker stop marathon
ExecReload=/usr/bin/docker restart marathon

[Install]
WantedBy=multi-user.target
